<div id="<%= dom_id post %>" class="card">
  <div class="card-body">
    <p>
      <p class="card-text">
        <%= post.content %>
      </p>
    </p>

    <p class="card-title">
      (<%= User.find(post.user_id).email %>)
    </p>
  </div>
</div>
