<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<p class="button-row">
  <%= link_to "Show this post", @post, class: "btn btn-secondary btn-sm" %> 
  <%= link_to "Back to posts", posts_path, class: "btn btn-secondary btn-sm" %>
</p>
