<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts" class="page">
  <%= link_to "New Post", new_post_path, class: "btn btn-primary btn-lg new" %>
  <% @posts.each do |post| %>
    <% if post.user_id != current_user.id %>
      <% if following?(post.user_id) %>
        <%= render post %>
        <p class="button-row">
          <%= link_to "Show this post", post, class: "btn btn-secondary btn-sm" %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>


